@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --primary: #03dac5;
  --primary-foreground: #000000;
  --secondary: #cf6679;
  --secondary-foreground: #ffffff;
  --card: #1c1c1c;
  --card-foreground: #ffffff;
  --border: #3700b3;
  --input: #414141;
  --void: #605f5f;
  --ring: #03dac5;
  --muted: #414141;
  --muted-foreground: #a0a0a0;
  --accent: #bb86fc;
  --accent-foreground: #000000;
  --destructive: #cf6679;
  --destructive-foreground: #ffffff;
  --purple: #bb86fc;
  --indigo: #3700b3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-void: var(--void);
  --color-ring: var(--ring);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-purple: var(--purple);
  --color-indigo: var(--indigo);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
